body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #333;
}

header {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  background-color: black;
  transform: scale(0.98);
}

.IMAGE img { width: 100%; }
